<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrX7aY4ma6Wq53evYix3lJ7-axfjCbmoY</string>
	<key>GCM_SENDER_ID</key>
	<string>1029812978531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.prodrigu.pizzaApp</string>
	<key>PROJECT_ID</key>
	<string>pizzadelivery-bde73</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzadelivery-bde73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029812978531:ios:ee1d6e875bf1fdb71e4956</string>
</dict>
</plist>